#app {
	width: 360px;
	min-height: 100vh;
	margin: 0 auto;
}

body {
	background-color: rgb(190, 226, 192);
}

.bg-1 {
	background-color: rgba(255, 255, 255, 0.295);
}

.bg-2 {
	background-color: rgba(238, 255, 7, 0.295);
}

.team-crest {
	max-width: 100%;
	max-height: 100%;
}

.img-container {
	height: 100px;
	width: 100px;
	background-color: rgba(250, 235, 215, 0);
}
