<div class='mb-2 d-flex justify-content-evenly'>
	<a href='/' class='text-decoration-none text-black'>New Club</a>
	<a href='clubs' class='text-decoration-none text-black'>View Clubs</a>
</div>

<p>
	{{data.club}}
</p>